/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  text-align: center;
  font-size: 32px;
  border: 5px solid black;
  border-radius: 8px;
  margin-bottom: 40px;
}
