.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 40px;
}

.ctaText {
  text-align: center;
}

.ctaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createTilBtn {
  background-color: black;
  color: #fff;
  height: 70px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 20px;
  border: solid 2px #000;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all .14s ease-out;

}

.createTilBtn:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem #000;
  color: black;
  background-color: var(--til-accent-color);
}

