/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  margin-top: 5px;
  border: 2px solid #000;
  border-radius: 8px;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out,
    -webkit-transform 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  paddin-bottom: 60px;
  text-align: justify;
}

.container:hover {
  box-shadow: 6px 6px 0 0 #000;
  transform: translate(-6px, -6px);
}
.title {
  font-size: 32px;
}
