html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
  ::selection {
    background-color: #ffff00;
  }
}
body {
  --twitter-blue: #50b7f5;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-right:200px;
  padding-left: 200px;
  padding-bottom: 20px;
  background-color: white;
}
